@model UserManagementSystem.Models.User
@{
    ViewBag.Title = "User Registration";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center min-vh-100" style="background: #f4f6fa;">
    <div class="shadow p-3 mb-5 bg-white" style="max-width: 460px; min-height: 520px; border-radius: 35px; width: 100%;">
        <div class="container" style="width: 90%;">
            <h2 class="d-flex justify-content-center" style="max-width: 345px; font-size: 30px; margin-top: 5px; margin-bottom: 30px; color: #000000;">User Registration</h2>
            @if (TempData["Success"] != null)
            {
                <div class="alert alert-success">@TempData["Success"]</div>
            }
            @using (Html.BeginForm("Register", "Users", FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
            {
                @Html.AntiForgeryToken()
                <div class="mb-4">
                    @Html.LabelFor(m => m.Username, new { @class = "d-flex form-label", style = "margin: 0 0 0 5px; color: #596172;" })
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", style = "border-radius: 15px; height: 44px; background-color: #f2f2f2; max-width: 370px;", required = "required" })
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                </div>
                <div class="mb-4">
                    @Html.LabelFor(m => m.Password, new { @class = "d-flex form-label", style = "margin: 0 0 0 5px; color: #596172;" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", style = "border-radius: 15px; height: 44px; background-color: #f2f2f2; max-width: 370px;", required = "required" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="mb-4">
                    @Html.LabelFor(m => m.FullName, new { @class = "d-flex form-label", style = "margin: 0 0 0 5px; color: #596172;" })
                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", style = "border-radius: 15px; height: 44px; background-color: #f2f2f2; max-width: 370px;", required = "required" })
                    @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                </div>
                <div class="mb-4">
                    @Html.LabelFor(m => m.DOB, new { @class = "d-flex form-label", style = "margin: 0 0 0 5px; color: #596172;" })
                    @Html.TextBoxFor(m => m.DOB, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", style = "border-radius: 15px; height: 44px; background-color: #f2f2f2; max-width: 370px;", required = "required" })
                    @Html.ValidationMessageFor(m => m.DOB, "", new { @class = "text-danger" })
                </div>
                <div class="mb-4">
                    @Html.LabelFor(m => m.City, new { @class = "d-flex form-label", style = "margin: 0 0 0 5px; color: #596172;" })
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control", style = "border-radius: 15px; height: 44px; background-color: #f2f2f2; max-width: 370px;" })
                    @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
                </div>
                <div class="mb-4">
                    @Html.LabelFor(m => m.Address, new { @class = "d-flex form-label", style = "margin: 0 0 0 5px; color: #596172;" })
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", style = "border-radius: 15px; height: 44px; background-color: #f2f2f2; max-width: 370px;", required = "required" })
                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                </div>
                <div class="mb-4">
                    @Html.LabelFor(m => m.PinCode, new { @class = "d-flex form-label", style = "margin: 0 0 0 5px; color: #596172;" })
                    @Html.TextBoxFor(m => m.PinCode, new { @class = "form-control", style = "border-radius: 15px; height: 44px; background-color: #f2f2f2; max-width: 370px;" })
                    @Html.ValidationMessageFor(m => m.PinCode, "", new { @class = "text-danger" })
                </div>
                <button style="margin: 20px 0 0; width: 100%; border-radius: 20px; background-color: #FB6C6C; height: 44px; color: #fff; font-weight: 500; font-size: 18px; border: none;" type="submit" class="btn">Register</button>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
} 